 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Tentang</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer adalah tema boostrap gratis yang dibuat oleh Start Bootstrap. Didalamnya meliputi  HTML, CSS, dan JavaScript. </p>
                </div>
                <div class="col-lg-4">
                    <p>Baik Anda seorang pelajar yang ingin memamerkan karya Anda, seorang profesional yang ingin menarik klien, atau seniman grafis yang ingin membagikan proyek Anda, template ini adalah titik awal yang sempurna! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Tema
                    </a>
                </div>
            </div>
        </div>
    </section>
